@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: --font-montserrat;
  font-family: --font-roboto;
}

.text-gradient {
  background: linear-gradient(90deg, #3246DA 0%, #223BFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.roboto {
  font-family: var(--font-roboto);
}
.montserrat {
  font-family: var(--font-montserrat);
}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@layer utilities {
  .box {
    @apply bg-[#121212] p-5 flex flex-col w-full
  }
  .page {
    @apply flex flex-col w-full min-h-screen relative p-5 items-center gap-3 pb-24
  }
  .page-body {
    @apply bg-[#121212] flex flex-col justify-center items-center w-full py-5 px-3 gap-4 gap-y-0
  }
  .header {
    @apply  flex justify-between items-center mb-4 px-4 py-3 w-screen bg-[#121212]
  }
  .dashboard-button {
    @apply px-3 py-3 rounded-full hover:border hover:border-[#3246DA] bg-[#3246DA] hover:bg-[#FFFFFF1A] xx:text-[8px] xr:text-[10px] leading-[12.19px] uppercase font-bold
  }
  .property-button {
    @apply flex xx:text-[8px] xr:text-[10px] leading-[9.75px] p-[6px] rounded-full border border-solid montserrat justify-items-center w-max bg-[#FFFFFF1A]
  }
  .property-overview-button {
    @apply roboto px-3 py-3 rounded-full hover:border hover:border-[#3246DA] bg-[#3246DA] hover:bg-[#FFFFFF1A] text-[10px] leading-[12.19px] uppercase font-bold
  }
  .auction-button {
    @apply flex text-[8px] leading-[9.38px] py-[6px] px-2 border-[#3246DA] rounded-full border border-solid roboto justify-items-center w-max
  }
  .top-text {
    @apply roboto uppercase font-bold text-xs leading-[14.06px] text-color text-start
  }
  .ash-text {
    @apply text-[#B0B0B0] text-[10px] leading-[12.19px] montserrat
  }
  .property-overview-head {
    @apply uppercase font-semibold text-[8px] leading-[9.75px] text-color
  }
  .property-overview-desc {
    @apply font-light text-xs leading-[14.63px] text-[#B0B0B0]
  }
  .filter-button {
    @apply w-max py-[2px] px-2 rounded-full text-[8px] border border-[#3246DA]
  }
  .tier-button {
    @apply roboto px-3 py-3 rounded-full hover:border hover:border-[#3246DA] bg-[#3246DA] hover:bg-[#FFFFFF1A] text-[10px] leading-[10.38px] underline font-medium text-color
  }
}